/.phpunit.cache
/node_modules
/public/hot
/public/storage

/storage/*.key
/storage/pail
/Themes/**
!Themes/.keep
!Themes/[^.]*
/Modules/**
!Modules/.keep
!Modules/[^.]*
currentTheme.json
themes.json
modules.json
composer.lock
push
storage/logs/*
/resources/js/theme-*.js
/vendor
/nbproject
.phpdoc
/docs/
/notes/
/public/themepublic
/public/themepublic/

.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
/nbproject/private/
.prettierrc
.miracle-sink.history
