/* resources/css/tinymce.css */
.gallery-box {
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    display: inline-block;
    cursor: pointer;
    user-select: none; /* Megakadályozza a szöveg kijelölését */
}

.mceNonEditable {
    color: #d9534f; /* Piros szín */
    font-weight: bold; /* Vastag betűtípus */
    background-color: #f9f2f4; /* Háttérszín */
    padding: 2px 4px; /* Belső térköz */
    border-radius: 4px; /* Lekerekített sarkok */
}

[data-mce-content="shortcode"] {
    color: #d9534f; /* Piros szín */
    font-weight: bold; /* Vastag betűtípus */
    background-color: #f9f2f4; /* Háttérszín */
    padding: 2px 4px; /* Belső térköz */
    border-radius: 4px; /* Lekerekített sarkok */
}
